body{
    width:100vw;
    height:100vh;
    display:flex;
    gap:20px;
    justify-content: center;
    align-items: center;
}
.buttons{
    display:flex;
    flex-direction: column;
    gap: 5px;
}
.container{
    border-color:black;
    border-style:solid;
    display:flex;
    width:700px;
    height:700px;
    flex-wrap: wrap;
}

.active{

    background-color:black;
}